* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  background: url("./img/bg.jpg") repeat 0/cover;
  font-family: 'Roboto Slab';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  width: 100%;
  padding-top: 8vh;
  font-family: "La Belle Aurore";
  font-size: 9vh;
  line-height: 15vh;
  text-align: center;
}

.page-container {
  width: 85%;
  height: calc(100vh-30px);
  margin: 0 auto;
}

.hamburger-menu {
  position: fixed;
  padding: 0.2em 0.5em;
  top: 0;
  width: 85%;
  margin: 0 7.5%;
  background-color: #A67C36;
  color: #f1e5ce;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  bottom: 0;
  margin: 0 7.5%;
  position: fixed;
  width: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .copyright {
  width: 100%;
  height: 100%;
  padding: 0.2em;
  background-color: #A67C36;
  color: #f1e5ce;
  text-align: center;
}

.center-cont {
  background: url("./img/pizzeria2.jpg") no-repeat 0/cover;
  width: 85%;
  min-height: 90vh;
  margin: 0 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3 {
  color: #A67C36;
}

.booking-frm {
  background-color: #f1e5ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 36rem;
  margin: 0 auto;
}

.col {
  padding: 1rem;
  background-color: #f1e5ce;
  -webkit-box-flex: 16rem;
      -ms-flex: 16rem;
          flex: 16rem;
  max-width: 16rem;
  min-height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.col input, .col label {
  font-size: 1em;
  border-radius: .3em;
  padding: .22em;
  font-family: 'Roboto Slab';
  height: 1.2em;
  width: 85%;
}

.col input:invalid {
  background-color: #fff7ea;
  color: #A67C36;
  border: #A67C36 2px solid;
}

.col label {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-left: .25em;
  padding: .33em .66em;
}

.col #wrong-format-msg {
  color: #aa1b3f;
}

.btn-div {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  text-align: center;
  max-width: 20rem;
}

.btn-div input[type="button"] {
  margin: 0 0 3em 0;
  font-size: 20px;
  min-width: 8em;
  min-height: 2em;
  border-radius: .66em;
  border: #f1e5ce 2px solid;
  background-color: #A67C36;
  color: #f1e5ce;
  font-family: 'Roboto Slab';
  font-size: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-div input[type="button"]:hover {
  background-color: #f1e5ce;
  color: #A67C36;
  border: #A67C36 2px solid;
}

.color-purple {
  background-color: #95134e !important;
}
/*# sourceMappingURL=style_arp.css.map */